/* CSS for all pages */

/* THEME COLORS:
light blue: #90DCD0
medium blue: #2FBDBD
dark blue: #0C9BBD
darker blue: #2a889f

light yellow: #fff67d
golden yellow: #FFE625
yellow-orange: #FFCE06
orange: #FFB700
*/

* {
  font-family: 'Nunito', sans-serif;
}

h3{
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 30px;
}

h1 {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 40px;
  text-align: center;
}
body {
  background-color: #90DCD0;
background-image: url('https://media.giphy.com/media/3ov9jLYWb4zCjGfqIE/giphy.gif');
  background-size: 25%;
  text-align: center;
}






/* button css */
input[type="button"] {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
}

input[type=button] {
  background-color: #fff67d;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

}

input[type=button]:hover {
  background-color: #FFE625;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.24),0 5px 20px 0 rgba(0,0,0,0.19);
}






/* navigation bar css */
nav {
  display: block;
  background-color: #fff67d;
  text-align: center;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
}
nav {
  /* font-family: 'Covered By Your Grace', cursive; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #fff67d;
}

li {
  float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #FFE625;
}







/* home page css */
.homeBody {
  text-align: center;
  /* background-image: url('https://media.giphy.com/media/3ov9jLYWb4zCjGfqIE/giphy.gif');
  opacity: .5; */
}

.welcome {
  font-size: 450%;
}
#homeLogo {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  /* background-color: transparent; */
  height: 25%;
  /* width: 75%; */
  margin: -10%;
}
.logoBackground {
  background-attachment: fixed;
  background-color: #0C9BBD;
  /* margin: 0px; */
  margin-left: 19%;
  margin-right: 23%
  /* width: 75%; */
  /* opacity: .9; */
}

.aboutUs {
  /* border: 5px dashed white; */
  padding: 5%;
  border-radius: 25px;
  height: 50%;
}

.bios {
  display: flex;
  justify-content: space-between;
  text-align: center
  padding: 2%;
}

.anna {
  display: flex;
  background-color: #0C9BBD;
  /* flex-direction: column; */
  align-items: flex-start;
  width: 30%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  height: 700px;
  margin: 2%
}
.sophia {
  background-color: #0C9BBD;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  width: 30%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  height: 700px;
  margin: 2%
}
.trinity{
  background-color: #0C9BBD;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  width: 30%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  height: 700px;
  margin: 2%
}

.aboutPhotos {
  display: flex;
  height: 50%;
}

.mission {
  height: 250px;
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

}

.factsDiv {

  display: flex;
  background-color: #0C9BBD;
/*  padding: 2%;  */
  margin-right: 10%;
  margin-left: 10%;
  height: 5%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
/* .factButton {
  width: 10%;
text-align: center;
} */
.homeTitles {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 150%;
}






/* info page css */
#definitions{
  height: 250px;
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5%;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}
.paragraph1{
  height: 250px;
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5%;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;

}
.paragraph2{
  height: 250px;
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5%;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 5%;
}
.paragraph3{
  height: 250px;
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5%;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 5%;
}
.paragraph3{
  height: 250px;
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5%;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 5%;
}
.paragraph4{
  height: 250px;
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5%;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 5%;
}
.resources{
  height: 250px;
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 10%;
  margin-left: 10%;
  height: 5%;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 5%;
}

.links{
  display: flex;
  flex-direction: row;
}






/* destress page css */

.biggerP {
  font-size: 25px;
}


.quizMain {
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 25%;
  margin-left: 25%;
  height: 10%;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}
#submitQuiz {
  display: flex;
  text-align: center;
  justify-content: center;
}
#subheader {
  margin-top: -30px;
}
/* .positivity-generator {
  display: flex;
  background-color: #0C9BBD;
  padding: 2%;
  margin-right: 25%;
  margin-left: 25%;
  height: 10%;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
} */
